// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
  background-color: $brand-color;
  color: #f9faf8;
  text-align: center;
  padding: 1.5rem;
}
